@{
    Layout = null;
}

<!DOCTYPE html>

<html ng-app="LoginApp">
<head>
    <title>Chat-Login</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!--LIB CSS-->
    <link href="~/Content/themes/Lib/css/toastr.min.css" rel="stylesheet" />
    <link href="~/Content/themes/Lib/css/bootstrap.min.css" rel="stylesheet" />

    <!--CUSTOM CSS-->
    <link href="~/Content/Login.css" rel="stylesheet" />

    <!--LIB SCRIPTS-->
    <script src="~/Scripts/Lib/Jquery/js/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/Lib/Angular/angular.min.js"></script>
    <script src="~/Scripts/Lib/Toastr/js/toastr.min.js"></script>
    <script src="~/Scripts/Lib/Spin/spin.js"></script>

    <!--CUSTOM SCRIPTS-->
    <script src="../Controller/GlobalScope.js"></script>
    <script src="../Controller/LoginCtrl.js"></script>

</head>
<body>
    <div>

    </div>
</body>
</html>
